@charset "UTF-8";
/* Global */
.mo-flexbox:after, .mo-grid:after, .mo-hero:after, .mo-hero__slide:after, .mo-footer:after, .mo-footer__some__ul:after, .mo-inline-list:after {
  content: "";
  display: table;
  clear: both; }

@font-face {
  font-family: "jalo-icons";
  src: url('../fonts/jalo-icons.eot');
  src: url('../fonts/jalo-icons.eot?#iefix') format('eot'), url('../fonts/jalo-icons.woff') format('woff'), url('../fonts/jalo-icons.ttf') format('truetype'), url('../fonts/jalo-icons.svg#jalo-icons') format('svg'); }

.mo-icon {
  font-size: 16px;
  font-family: "jalo-icons";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-decoration: none;
  text-transform: none;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  display: inline-block;
  vertical-align: middle; }

.mo-icon--envelope:before {
  content: "\E001"; }

.mo-icon--facebook:before {
  content: "\E002"; }

.mo-icon--heart:before {
  content: "\E003"; }

.mo-icon--linkedin:before {
  content: "\E004"; }

.mo-icon--medium:before {
  content: "\E005"; }

.mo-icon--phone:before {
  content: "\E006"; }

.mo-icon--spotify:before {
  content: "\E007"; }

.mo-icon--twitter:before {
  content: "\E008"; }

body {
  font-family: "freight-text-pro", sans-serif;
  color: #333;
  font-size: 16px;
  line-height: 1.5em;
  font-weight: 300; }

h1 {
  font-family: "nimbus-sans", sans-serif;
  letter-spacing: -1px;
  font-size: 48px;
  line-height: 1.125em; }
  @media only screen and (min-width: 640px) {
    h1 {
      font-size: 64px; } }

h2, .mo-hero__title {
  font-family: "nimbus-sans", sans-serif;
  letter-spacing: -1px;
  font-size: 26px;
  line-height: 1.125em; }
  @media only screen and (min-width: 640px) {
    h2, .mo-hero__title {
      font-size: 42px; } }

.mo-hero__title {
  font-family: "freight-text-pro", sans-serif; }

h3 {
  font-size: 24px;
  line-height: 1.5em;
  font-weight: 200; }
  @media only screen and (min-width: 640px) {
    h3 {
      font-size: 30px; } }

p {
  margin-bottom: 16px; }
  @media only screen and (min-width: 640px) {
    p {
      font-size: 20px;
      line-height: 1.5em; } }

strong {
  font-weight: 600; }

a {
  text-decoration: none;
  color: inherit; }
  @media only screen and (min-width: 640px) {
    a {
      font-size: 20px; } }

.mo-smalltext {
  font-size: 14px; }
  @media only screen and (min-width: 640px) {
    .mo-smalltext {
      font-size: 16px; } }

.no-flexbox .mo-flexbox  {
  display: block; }
  .no-flexbox .mo-flexbox  .mo-flexbox__item {
    width: 50%; }

.mo-flexbox {
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative; }
  .mo-flexbox .mo-flexbox__item {
    position: relative;
    display: block; }
    @media only screen and (min-width: 640px) {
      .mo-flexbox .mo-flexbox__item {
        width: 50%;
        float: left; } }
    .mo-flexbox .mo-flexbox__item--border {
      margin-bottom: 1em;
      padding-bottom: 1em;
      border-bottom: 2px solid rgba(0, 0, 0, 0.2); }
      @media only screen and (min-width: 640px) {
        .mo-flexbox .mo-flexbox__item--border {
          margin-bottom: 0;
          border: 0; } }
    .mo-flexbox .mo-flexbox__item--centerphone {
      text-align: center; }
      @media only screen and (min-width: 640px) {
        .mo-flexbox .mo-flexbox__item--centerphone {
          text-align: left; } }

body {
  background: #fff;
  color: #333; }

.mo_heartred {
  color: #662D91; }

* {
  box-sizing: border-box; }

.mo-grid {
  position: relative;
  margin: 0 auto; }
  @media only screen and (max-width: 479px) {
    .mo-grid {
      margin: 0 20px; } }
  @media only screen and (min-width: 480px) and (max-width: 639px) {
    .mo-grid {
      max-width: 440px; } }
  @media only screen and (min-width: 640px) and (max-width: 959px) {
    .mo-grid {
      max-width: 604px; } }
  @media only screen and (min-width: 960px) and (max-width: 1279px) {
    .mo-grid {
      max-width: 604px; } }
  @media only screen and (min-width: 1280px) {
    .mo-grid {
      max-width: 604px; } }

.mo-textaligncenter {
  text-align: center; }

.mo-textitalic {
  font-style: italic; }

/* Modules */
.mo-hero {
  width: 100%;
  margin: auto;
  height: 300px;
  position: relative;
  overflow: hidden; }
  @media only screen and (min-width: 640px) {
    .mo-hero {
      height: 500px; } }
  .mo-hero--narrow {
    height: 90px; }
    @media only screen and (min-width: 640px) {
      .mo-hero--narrow {
        height: 100px; } }
  .mo-hero__logo {
    width: 140px;
    text-align: center;
    display: block;
    padding-top: 0em;
    float: left; }
    @media only screen and (min-width: 640px) {
      .mo-hero__logo {
        width: 160px; } }
  .mo-hero__slide {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url("../images/splash-phone.jpg");
    background-size: cover;
    background-position: center; }
    @media only screen and (min-width: 640px) {
      .mo-hero__slide {
        background-image: url("../images/splash-desktop.jpg"); } }
  .mo-hero__title {
    margin: 0;
    color: #fff;
    padding-top: 3.1em; }
    @media only screen and (min-width: 640px) {
      .mo-hero__title {
        padding-top: 3.6em; } }
  .mo-hero__content {
    position: relative;
    padding: 2em 0; }
  .mo-hero__clouds {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 5200px;
    height: auto;
    min-height: 195px;
    z-index: 1;
    -webkit-animation: horizontalLoop 160s linear infinite;
    animation: horizontalLoop 160s linear infinite;
    opacity: .2;
    background-position: 0 0;
    background-size: auto; }
    @media only screen and (min-width: 640px) {
      .mo-hero__clouds {
        min-height: 400px;
        height: 100%;
        display: block;
        background: url("../images/clouds.png") 0 100% repeat-x; } }

@-webkit-keyframes horizontalLoop {
  0 {
    -webkit-transform: translate3d(0, 0, 0); }

  100% {
    -webkit-transform: translate3d(-50%, 0, 0); } }

@keyframes horizontalLoop {
  0 {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }

  100% {
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0); } }

.mo-authorimage {
  overflow: hidden;
  height: 150px;
  width: 150px;
  position: relative;
  margin: 0 auto 1em;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 100%; }
  @media only screen and (min-width: 640px) {
    .mo-authorimage {
      margin: 0 0 1em 0; } }
  .mo-authorimage__image {
    max-width: 100%;
    height: auto; }
  .mo-authorimage__imagefilter {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    background-color: rgba(132, 32, 136, 0.15);
    transition: all .15s ease-in; }
    .mo-authorimage__imagefilter:hover {
      background-color: transparent; }
  @media only screen and (min-width: 640px) {
    .mo-authorimage--left {
      float: left;
      margin-right: 20px; } }
  .mo-authorimage--small {
    width: 40px;
    height: 40px;
    float: left;
    vertical-align: middle;
    margin-right: 10px; }
  .mo-authorimage--stand-alone {
    width: 200px;
    height: 200px; }

.mo-colorwrap {
  position: relative;
  padding: 2em 0; }
  @media only screen and (min-width: 960px) {
    .mo-colorwrap {
      padding: 3em 0; } }
  .mo-colorwrap--largepadding {
    padding: 5em 0; }
    @media only screen and (min-width: 960px) {
      .mo-colorwrap--largepadding {
        padding: 6em 0; } }
  .mo-colorwrap--smallpadding {
    padding: 1em 0; }
    @media only screen and (min-width: 960px) {
      .mo-colorwrap--smallpadding {
        padding: 1.5em 0; } }
  .mo-colorwrap--nopadding {
    padding: 0; }
    @media only screen and (min-width: 960px) {
      .mo-colorwrap--nopadding {
        padding: 0; } }
  .mo-colorwrap--athensgrey {
    background: #e9eaed; }
  .mo-colorwrap--turquoise {
    background: #259db8; }
  .mo-colorwrap--purple {
    background: #662D91;
    color: #fff; }
  .mo-colorwrap--green {
    background: #3aa497; }
  .mo-colorwrap--white {
    color: #333; }
    .mo-colorwrap--white--border {
      border-bottom: 1px solid #e9eaed; }
  .mo-colorwrap--skyblue {
    background: #439fe0;
    color: #fff; }

.mo-button {
  padding: 8px 16px;
  font-family: "nimbus-sans", sans-serif;
  display: inline-block;
  border-radius: 3px;
  text-decoration: none;
  transition: all .15s ease-in;
  position: relative;
  overflow: hidden;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }
  .mo-button:hover {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15); }
  @media only screen and (min-width: 640px) {
    .mo-button {
      font-size: 20px; } }
  .mo-button--purple {
    background: #662D91;
    color: #fff; }
    .mo-button--purple:hover {
      background: #675691; }
  .mo-button--white {
    background: #fff;
    color: #333; }
    .mo-button--white:hover {
      background: #675691;
      color: #fff; }
      .mo-button--white:hover .mo-button__icon {
        color: #fff; }
  .mo-button--margintop {
    margin-top: 1em; }
  .mo-button--margintopminor {
    margin-top: 10px; }
  .mo-button__icon {
    margin-right: 10px;
    color: #662D91;
    transition: all .15s ease-in; }

.mo_linkicon {
  line-height: 2em; }
  .mo_linkicon i {
    width: 30px;
    transition: all .15s ease-in; }
  .mo_linkicon__link {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    transition: all .15s ease-in; }
    .mo_linkicon__link:hover {
      border-color: rgba(0, 0, 0, 0.5); }
  .mo_linkicon:hover i {
    color: rgba(255, 255, 255, 0.5); }
  .mo_linkicon--black i {
    width: 25px; }
  .mo_linkicon--black:hover i {
    color: rgba(0, 0, 0, 0.5); }

.mo-author {
  margin-bottom: 0;
  font-family: "nimbus-sans", sans-serif;
  font-weight: 600; }

.mo-footer__some {
  width: 100%; }
  .mo-footer__some__ul {
    margin: 0;
    padding: 0; }
  .mo-footer__some__li {
    display: block;
    width: 33.33%;
    float: left; }
  .mo-footer__some__item {
    color: #662D91;
    text-align: center;
    display: block;
    padding: 1em 0;
    transition: all .15s ease-in; }
    .mo-footer__some__item--border {
      border-right: 2px solid #e9eaed; }
    .mo-footer__some__item:hover {
      background: #e9eaed; }
  .mo-footer__some__text {
    display: none; }

.mo-inline-list {
  list-style: none;
  padding: 0;
  margin: 0; }
  .mo-inline-list__item {
    float: left;
    margin-right: 20px; }

.mo-stand-alone {
  text-align: center; }
  @media only screen and (min-width: 640px) {
    .mo-stand-alone {
      float: right;
      margin-left: 30px;
      margin-bottom: 20px; } }
  .mo-stand-alone__title {
    margin: 0 0 15px 0; }
  .mo-stand-alone__sub-title {
    margin: 0 0 15px 0; }
