@import "_variables.css";

.mo-authorimage {
  overflow: hidden;
  height: 150px;
  width: 150px;
  position: relative;
  margin: 0 0 1em 0;
  background: rgba(255, 255, 255, 0.8);

  @media only screen and (min-width: $breakpoint-laptop-min-width) {
    top: 10px;
    height: 170px;
    width: 170px;
    position: absolute;
  }
}
.mo-authorimage--left {
  @media only screen and (min-width: $breakpoint-laptop-min-width) {
    left: -190px;
  }
}
.mo-authorimage--right {
   @media only screen and (min-width: $breakpoint-laptop-min-width) {
    right: -70px;
  }
}
.mo-authorimage__image {
  max-width: 100%;
  height: auto;
}