.mo-button {
  padding: 8px 16px;
  display: inline-block;
  border-radius: $button-radius;
  text-transform: uppercase;
  @extend .mo-smalltext;
  text-decoration: none;
  @include transition-all;
  position: relative;
  background: $color-burnt-sienna;
  overflow: hidden;
  color: $color-barley-white;
  font-weight: 700;

  &:hover {
      background: lighten($color-burnt-sienna, 10%) 
  }
  
  &--blue-zodiac {
    background: $color-blue-zodiac;
    
    &:hover {
      background: lighten($color-blue-zodiac, 10%) 
    }
  }
}