.mo-button {
  padding: 8px 16px;
  @include font-title;
  display: inline-block;
  border-radius: 3px;
  text-decoration: none;
  @include transition-all;
  position: relative;
  background: $color-burnt-sienna;
  overflow: hidden;

  &:hover {
      background: lighten($color-burnt-sienna, 10%) 
  }

  @include breakpoint(tablet-and-up) {
    font-size: 20px;
  }
}