.mo-fluid-block-wrapper {
  @extend %clearfix;
}

.mo-fluid-block {
  display: block;
  width: 100%;
  height: auto;
  padding-bottom: 0%;
  position: relative;
  background: $color-burnt-sienna;
  color: $color-white;
  @extend %clearfix;
  
  &--odd {
    @include breakpoint(tablet-and-up) {
      background: $color-barley-white;
      color: $color-blue-zodiac;    
    }
  }
  
  &--podcast {
    background: transparent;
    color: $color-blue-zodiac;
  }
  
  &__image {
    width: 100%;
    
    img {
      width: 100%;
      display: block;
    }
    
    @include breakpoint(tablet-and-up) {
      width: 60%;
      float: left;
      
      &--full {
        width: 100%;
        float: none;
      }
      
      .mo-fluid-block--podcast & {
        width: 50%;
      }
    }
  }
  
  &__content {
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    
    @include breakpoint(tablet-and-up) {
      top: 100px;
      width: 40%;
      padding: 20px;
      height: 100%;
      float: left;
      position: relative;
      top: inherit;
      left: inherit;
      right: inherit;
      padding: 30px 20px;
      
      .mo-fluid-block--podcast & {
        width: 50%;
      }
      
      @include breakpoint(laptop-and-up) {
        padding-top: 60px;
      }
    }
  }
}