.mo-footer {
  @extend %clearfix;
  text-align: center;
  padding: 5em 0 0;
  
  h2 {
    margin-bottom: 20px;
  }
  
  &__contact {
    display: block;
    margin-bottom: 10px;
 
    span:before {
      margin-right: 10px;
    }
  }
 
  &__forest {
    background: url("../images/footer-forest.png");
    background-repeat: repeat-x;
    background-position: center bottom;
    width: 100%;
    height: 400px;
    background-size: 2000px;
    position: relative;
  }
  
  &__forest-content {
    background: $color-blue-zodiac;
    color: $color-white;
    width: 100%;
    height: 220px;    
  }
  
  &__logo,
  &__contact-info,
  &-some {
    display: inline-block;
    vertical-align: middle;
  }
  
  &__logo {
    margin-right: 30px;
  }
  
  &__contact-info {
    margin-right: 30px;
    a {
      display: block;
    }
  }
  
  &-some-icons {
    clear: both;
    display: block;
    margin-top: 50px;
    
    @include breakpoint(tablet-and-up) {
      clear: none;
      display: inline-block;
      margin: auto;
    }
  }
  
  &-some {
  
    .mo-icon {
      margin-right: 30px;
      
      &:before {
        font-size: 20px;
        }
    }
  }
}