.mo-fluid-block-wrapper {
 @extend %clearfix;
}

.mo-fluid-block {
  display: block;
  width: 100%;
  height: auto;
  padding-bottom: 0%;
  position: relative;
  background: $color-burnt-sienna;
  color: $color-white;
    
  @extend %clearfix;
  
  &--second,
  &--fourth {
    @include breakpoint(tablet-and-up) {
      background: $color-barley-white;
      color: $color-blue-zodiac;    
    }
  }

  &__image {
    width: 100%;
    
    img {
      width: 100%;
      display: block;
    }
    
    @include breakpoint(tablet-and-up) {
      width: 60%;
      float: left;
      
      &--full {
        width: 100%;
        float: none;
      }
    }
  }
  
  &__content {
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    
    @include breakpoint(tablet-and-up) {
      width: 40%;
      padding: 20px;
      height: 100%;
      float: left;
      position: relative;
      top: inherit;
      left: inherit;
      right: inherit;
      padding: 30px 20px;
      
      @include breakpoint(laptop-and-up) {
        padding-top: 60px;
      }
    }
  }
}