@import "_variables.css";

.mo-hero {
  width: 100%;
  margin: auto;
  padding-bottom: 50%;
  position: relative;

  @media only screen and (min-width: $breakpoint-tablet-min-width) {
    padding-bottom: 25%;
  }

  @media only screen and (min-width: $breakpoint-desktop-min-width) {
    height: 320px;
    display: block;
    overflow: hidden;
    padding-bottom: 0;
  }

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.mo-hero__logo {
  width: 250px;
  text-align: center;
  display: block;
  padding-top: 0em;

  @media only screen and (min-width: $breakpoint-tablet-min-width) {
    padding-top: 1em;
    width: 300px;
  }

  @media only screen and (min-width: $breakpoint-laptop-min-width) {
    padding-top: 4em;
  }
}


.mo-hero__imagewrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 0;
  overflow: hidden;
  transform: rotate(180deg);
}

.mo-hero__slide {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.mo-hero__title {
  font-size: 20px;
  margin: 0;
}

.mo-hero__content {
  position: relative;
  height: 100%;
  padding: 2em 0;
  text-shadow: 1px 1px rgba(0,0,0,0.3);
}

.mo-hero__image {
  transform: rotate(180deg);
  zoom: 1;

  img {
    transform: rotate(180deg);
    zoom: 1;
    width: 100%;
  }

  @media only screen and (max-width: $breakpoint-phone-max-width) {
    img {
      width: auto;
      height: 100%;
    }
  }
}

