.mo-hero {
  @extend %clearfix;
  width: 100%;
  margin: auto;
  position: relative;
  display: block;
  height: 320px;
  background: $color-blue-zodiac;
  overflow: hidden;
  display: block;

  @include breakpoint(phone-large-and-up) {
    height: 400px;
  }

  @include breakpoint(tablet-and-up) {

    height: 410px;
    padding-bottom: 50.7%;
  }
  
  @include breakpoint(laptop-and-up) {
    display: none;
    height: auto;
  }
  
  &__slide {
    @extend %clearfix;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    
    @include breakpoint(tablet-and-up) {
    }
  }
  
  &__btn {
    position: absolute !important;
    left: 0;
    right: 0;
    bottom: 30px;
    margin: auto;
    z-index: 1;
    width: 150px;
    text-align: center;
  
    
    @include breakpoint(tablet-and-up) {
      bottom: 50px;
    }
    
    @include breakpoint(laptop-and-up) {
      bottom: 80px;
    }
  }
  
  &__image {
    position: absolute;
    left: 49.99%;
    top: 50%;
    height: 100%;
    width: auto;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    min-height: 340px;
    
    @include breakpoint(phone-large-and-up) {
      min-height: 445px;
    }
    
    @include breakpoint(tablet-and-up) {
      min-height: 400px;
    }
    
    @include breakpoint(laptop-and-up) {
      min-height: 400px;
    }
    
    &--small {    
      @include breakpoint(tablet-and-up) {
        display: none;
      }
    }
    
    &--large {
      display: none;
      
      @include breakpoint(tablet-and-up) {
        display: block;
      }
    }
  }
}


.mo-parallax {
  height: 1000px;
  position: relative;
  z-index: 10;
  display: none;
  
  @include breakpoint(laptop-and-up) {
    display: block;
  }
  
  &__parallax {
    background-position: bottom center;
    background-size: auto 1038px;
    background-repeat: repeat-x;
    width: 100%;
    position: fixed;
    height: 1000px;

    &--0 {
      background-image: url(../images/hero-trees-furthest.png);
    }
    &--1 {
      background-image: url(../images/hero-trees-closer.png);
    }
    &--2 {
      background-image: url(../images/hero-closest.png);
    }
    &--3 {
      background-image: url(../images/hero-drone.png);
    }
    &--4 {
      background-image: url(../images/hero-logo.png);
    }
  }
}

.main-area {
  background: $color-barley-white;
  z-index: 11;
  position: relative;
}