.mo-hero-nav {
  position: absolute;
  top: 30px;
  right: 30px;
  
  &__ul {
    list-style: none;
    display: block;  
  }
  
  &__li {
    display: block;
    float: left;
    margin-left: -10px;
  }
  
  &__link {
    padding: 5px 15px;
    border-radius: $button-radius;
    text-transform: uppercase;
    margin-left: 5px;
    @extend .mo-smalltext;
    
    &--active {
      background: $color-blue-zodiac;
      color: $color-barley-white;  
    }
  }
}