.mo-hero {
  @extend %clearfix;
  width: 100%;
  margin: auto;
  height: 260px;
  position: relative;
  overflow: hidden;

  @include breakpoint(tablet-and-up) {
    height: 400px;
  }


  &__slide {
    @extend %clearfix;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url("../images/hero-mobile.jpg");
    background-size: cover;
    background-position: center;

    @include breakpoint(tablet-and-up) {
      background-image: url("../images/hero-desktop.jpg")
    }
  }
}