.mo-nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  
  &--standalone {
    position: relative;
    top: auto;
    left: auto;
    height: 80px;
  }
  
  &__logo {
    float: left;
    margin: 10px 0 0 20px;
    display: none;
    
    .menu-active & {
      position: absolute;
      z-index: 3;
      display: block;
    }
    
    .mo-nav--standalone & {
      display: block;  
    }
    @include breakpoint(tablet-and-up) {
      .mo-nav--standalone & {
        display: block;
      }
    }
  }
  
  &__navigation {
    width: 100%;
  
    @include breakpoint(laptop-and-up) {
      margin: 0 auto;
      display: block;
      max-width: $content-size-laptop;
    }

    @include breakpoint(desktop) {
      max-width: $content-size-desktop;
    }
  }
  
  &__overlay {
    @include breakpoint(phone-large-and-down) {
      background: #f5f5f5;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: -1000px;
      display: none;
      
      .menu-active & {
        display: block;
      }
    }
  }
  
  &-wrapper {
    @include breakpoint(phone-large-and-down) {
      .menu-active & {
        display: block;
        position: fixed;
        left: 0;
        top: 60px;
        right: 0;
        bottom: 0;
        margin-right: 0;
      }
    }
  }
  
  &__list {
    list-style: none;
    display: none;  
    margin: 30px 0;
    padding: 0 20px;
    
    .menu-active & {
      display: block;
    }
    
      
    @include breakpoint(tablet-and-up) {
      display: block;
      margin-bottom: 0;
      float: right;
      margin-top: 18px;
    }
  }
  
  .menu-item {
    display: block;
    margin: 0;
    height: 3.5em;
    text-align: center;
    
    @include breakpoint(tablet-and-up) {
      padding: 5px 5px;
      border-radius: $button-radius;
      text-transform: uppercase;
      margin-left: 5px;
      display: inline-block;
      display: block;
      float: left;
      margin-left: -10px;
    }
      
    @include breakpoint(laptop-and-up) {
      padding-left: 15px;
      padding-right: 15px;
    }
          
    &--active {
      background: $color-blue-zodiac;
      color: $color-barley-white;  
    }
    
    a {
      color: #282828;
      padding: 0;
      font-size: 1.75em;
      display: block;
      @extend .mo-smalltext;
      font-size: 16px;
      padding: 20px 0;
      
      
      @include breakpoint(tablet-and-up) {
        padding: 5px 15px;
        border-radius: $button-radius;
        text-transform: uppercase;
        margin-left: 2px;
      }
      
      &:hover {
        background: $color-burnt-sienna;
        color: $color-barley-white;  
      }
    }
  }
  .current-menu-item a {
    background: $color-blue-zodiac;
    color: $color-white;  
  }
}
 
.mo-nav-opener {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  width: 40px;
  height: 60px;
  right: 15px;
  top: 2px;
  overflow: hidden;
  display: block;
  color: $color-blue-zodiac;
  font-size: 30px;
  position: absolute;
    
    
  .mo-icon--close {
    display: none;
  } 
   
  .menu-active & {
    position: fixed;
    
    .mo-icon--close {
      display: block;
    }  
    .mo-icon--hamburger {
      display: none;
    }
  }  
    
  &__icon {
    font-size: 30px;
    line-height: 0;
    
    &:before {
      line-height: 0;
      font-size: 25px;
    }
  }
    
  span {
    text-indent: -9999px;
    display: block;
  }
  
  @include breakpoint(tablet-and-up) {
    display: none;
  }
}