{{#extend "default"}}
  {{#content "content"}}
<div class="mo-hero">
  <div class="mo-hero__slide">
    <div class="mo-hero__content mo-grid">
      <img src="images/monday_logo.svg" class="mo-hero__logo">
      <h1 class="mo-hero__title mo-hero__title--fontbody mo-textaligncenter">Weeks have never started this well.</h1>
    </div>
  </div>
  <div class="mo-hero__clouds mo-cloud-anim"></div>
</div>
<div class="mo-colorwrap mo-colorwrap--white">
  <div class="mo-grid ">
    <h2>What we do</h2>
    <p>We are an <strong>independent studio</strong> in Helsinki packed with experience and insight. We create razor sharp services that match the demand of today's users. </p><p>We work closely together with our clients to produce the best possible software for <strong>human</strong> beings.</p>
    <p>When your Mondays suck and you demand better, </p>
    <a href="#contact" class="mo-button mo-button--purple mo-button--margintopminor">Contact us</a>
  </div>
</div>
 <div class="mo-colorwrap mo-colorwrap--white mo-colorwrap--no-top-padding">
  <div class="mo-grid ">
    <h2>Our expertise</h2>
    <p>
      — Front-end web development and consultancy<br />
      — Responsive and Adaptive web design<br />
      — UX design<br />
      — UI development<br />
      — Style guides<br />
      — Freelance web development services
    </p>
  </div>
</div>
 <div class="mo-colorwrap mo-colorwrap--athensgrey">
  <div class="mo-grid ">
    <h2 style="margin-top: 0;">Our Vlog</h2>
    <div class="mo-video-container">
        <iframe width="640" height="360" src="http://www.youtube.com/embed?max-results=1&controls=0&showinfo=0&rel=0&listType=playlist&list=PLdREOGO0CSCoQsE2bQKTUo5pTOwlPUcO2" frameborder="0" allowfullscreen></iframe>
    </div>
    <a href="https://www.youtube.com/channel/UCtHdo16gUUHRvBaYqwQisrQ" target="_blank" class="mo-button mo-button--purple mo-button--margintopminor">Watch on YouTube&nbsp;›</a>
  </div>
</div>
<div class="mo-colorwrap mo-colorwrap--purple">
  <div class="mo-grid">
    <h2 class="">Who we are</h2>
    <p>Monday is two guys who enjoyed working together so much they started their own thing. </p>
    <p><strong>Pyry</strong> has a wide range of experience, from UI development to Node.js back-ends. You could call him a <strong>Full Stack developer</strong>.</p>
    <p><strong>Samuel</strong>, with his design background really enjoys creating exceptionally well behaving responsive front-ends. You could call him a <strong>UX developer</strong>.<br /><br />
    <div class="mo-flexbox" id="contact">
      <div class="mo-flexbox__item mo-flexbox__item--border mo-flexbox__item--centerphone">
        <a href="/pyry" class="mo-authorimage">
          <div class="mo-authorimage__imagefilter"></div>
          <img class="mo-authorimage__image" src="images/pyry.jpg" alt="Pyry Kovanen">
        </a>
        <h3 class="mo-author">Pyry Kovanen</h3>
        <a href="tel:+358408098364" class="mo_linkicon"><i class="mo-icon mo-icon--phone"></i><span class="mo_linkicon__link">040 809 83 64</span></a><br />
        <a href="mailto:pyry@monday.fi" class="mo_linkicon"><i class="mo-icon mo-icon--envelope"></i><span class="mo_linkicon__link">pyry@monday.fi</span></a><br />
        <a href="https://fi.linkedin.com/in/pyrykovanen" class="mo_linkicon"><i class="mo-icon mo-icon--linkedin"></i><span class="mo_linkicon__link">LinkedIn</span></a><br />
        <a href="/pyry" class="mo-button mo-button--white mo-button--margintop">Read more</a>
      </div>

      <div class="mo-flexbox__item mo-flexbox__item--centerphone">
        <a href="/samuel" class="mo-authorimage">
          <div class="mo-authorimage__imagefilter"></div>
          <img class="mo-authorimage__image" src="images/samuel.jpg" alt="Samuel Klinkmann">
        </a>
        <h3 class="mo-author">Samuel Klinkmann</h3>
        <a href="tel:+358404869209" class="mo_linkicon"><i class="mo-icon mo-icon--phone"></i><span class="mo_linkicon__link">040 486 92 09</span></a><br />
        <a href="mailto:samuel@monday.fi" class="mo_linkicon"><i class="mo-icon mo-icon--envelope"></i><span class="mo_linkicon__link">samuel@monday.fi</span></a><br />
        <a href="https://fi.linkedin.com/in/samuelklinkmann" class="mo_linkicon"><i class="mo-icon mo-icon--linkedin"></i><span class="mo_linkicon__link">LinkedIn</span></a><br />
        <a href="/samuel" class="mo-button mo-button--white mo-button--margintop">Read more</a>

      </div>
    </div>
  </div>
</div>

<div class="mo-colorwrap mo-colorwrap--athensgrey mo-colorwrap--largepadding">
  <div class="mo-grid">
      <p class="mo-textitalic">"I've had the pleasure to work with Pyry & Samuel. They are great guys and always eager to push our web service forward with new and fresh ideas."<br /></p>
      <div class="mo-authorimage mo-authorimage--small mo-authorimage--margin-top">
        <img src="images/meri.jpg" alt="Meri Härmälä" class="mo-authorimage__image">
    </div>
    <p><strong>Meri Härmälä</strong><br />Web Service Manager at <a href="http://valio.fi" target="_blank" class="mo_linkicon__link">Valio</a></p>
  </div>
</div>

<div class="mo-colorwrap mo-colorwrap--white mo-colorwrap--white--border mo-colorwrap--nopadding ">
  <div class="mo-grid">
    <div class="mo-footer">
      <div class="mo-footer__some">
        <ul class="mo-footer__some__ul">
          <li class="mo-footer__some__li"><a href="https://www.facebook.com/mondaydigital" class="mo-footer__some__item mo-footer__some__item--border"  target="_blank"><i class="mo-icon mo-icon--facebook"></i><span class="mo-footer__some__text">Facebook</span></a></li>
          <li class="mo-footer__some__li"><a href="https://twitter.com/mondayfi" class="mo-footer__some__item mo-footer__some__item--border" target="_blank"><i class="mo-icon mo-icon--twitter"></i><span class="mo-footer__some__text">LinkedIn</span></a></li>
          <li class="mo-footer__some__li"><a href="https://www.linkedin.com/company/monday-digital-oy" class="mo-footer__some__item" target="_blank"><i class="mo-icon mo-icon--linkedin"></i><span class="mo-footer__some__text">Twitter</span></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="mo-colorwrap mo-colorwrap--white mo-colorwrap--white--border mo-colorwrap--smallpadding">
  <div class="mo-grid">
        <div class="mo-flexbox">
            <div class="mo-flexbox__item">
                <p><strong>Monday Digital Oy</strong></p>
                <p>Business ID: <br />2435962-4</p>
            </div>
            <div class="mo-flexbox__item">
                <p><a href="mailto:info@monday.fi" class="mo_linkicon__link">info@monday.fi</a></p>
                <p>Kalevankatu 55, <br />00180 Helsinki</p>
            </div>
        </div>
    </div>
</div>

<div class="mo-colorwrap mo-colorwrap--white mo-colorwrap--smallpadding">
  <div class="mo-grid">
    <p class="mo-textaligncenter">Made with <i class="mo-icon mo-icon--heart mo_heartred"></i> in Helsinki.</p>
  </div>
</div>
  {{/content}}
{{/extend}}