{{#extend "default"}}
  {{#content "content"}}
{{> hero }}

<div class="mo-colorwrapper mo-colorwrapper--blue-zodiac">
  <div class="mo-grid">
    <h1>Who are we?</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam nisi ipsum, gravida ut molestie nec, consectetur eget risus. Mauris lorem leo, vehicula nec euismod eget, lacinia at nulla. In auctor eros a porttitor molestie. Quisque vitae venenatis massa. Curabitur non interdum libero. In faucibus vehicula turpis, et dapibus velit congue tristique. Ut a diam sem. Vestibulum non mauris rhoncus, lobortis nulla et, ullamcorper magna. Pellentesque ornare mauris at arcu rhoncus cursus. Donec porttitor turpis a libero eleifend, quis rhoncus lacus tincidunt. Maecenas ut pharetra diam.</p>
    
    <a href="#" class="mo-button">Read more</a>
  </div>
</div>

{{> footer }}
  {{/content}}
{{/extend}}