{{#extend "default"}}
  {{#content "content"}}
  <div class="mo-hero mo-hero--narrow">
  <div class="mo-hero__slide">
    <div class="mo-hero__content mo-grid">
      <a href="/"><img src="images/monday_logo.svg" class="mo-hero__logo"></a>
    </div>
  </div>
</div>
<div class="mo-colorwrap mo-colorwrap--white mo-colorwrap--white--border">
  <div class="mo-grid">
    <div class="mo-stand-alone">
      <div class="mo-authorimage mo-authorimage--stand-alone">
        <img class="mo-authorimage__image" src="images/pyry.jpg" alt="Pyry Kovanen">
      </div>
      <a href="tel:+358408098364" class="mo_linkicon  mo_linkicon--black"><i class="mo-icon mo-icon--phone"></i><span class="mo_linkicon__link">040 809 83 64</span></a><br />
      <a href="mailto:pyry@monday.fi" class="mo_linkicon  mo_linkicon--black"><i class="mo-icon mo-icon--envelope"></i><span class="mo_linkicon__link">pyry@monday.fi</span></a><br />
      <a href="https://fi.linkedin.com/in/pyrykovanen" class="mo_linkicon  mo_linkicon--black"><i class="mo-icon mo-icon--linkedin"></i><span class="mo_linkicon__link">LinkedIn</span></a>
    </div>
    <h2 class="mo-stand-alone__title">Pyry Kovanen</h2>
    <h3 class="mo-stand-alone__sub-title">Full Stack Developer</h3>
    <p>I'm social and conscientious, I'm not afraid of new challenges and I'm eager to learn new things. I'm good team worker, but I am also efficient while working alone. I tend to write as effective and clean code as possible, without forgetting the end user’s experience. I’ve worked with companies ranging from startups to biggest customers in Finland.</p>
    <p>Some frameworks I have recently used:<br />
        — React<br />
        — node.js<br />
        — Ampersand<br />
        — etc.
    </p>
  </div>
</div>
<div class="mo-colorwrap mo-colorwrap--white mo-colorwrap--white--border mo-colorwrap--nopadding ">
  <div class="mo-grid">
    <div class="mo-footer">
      <div class="mo-footer__some">
        <ul class="mo-footer__some__ul">
          <li class="mo-footer__some__li"><a href="https://www.facebook.com/mondaydigital" class="mo-footer__some__item mo-footer__some__item--border"  target="_blank"><i class="mo-icon mo-icon--facebook"></i><span class="mo-footer__some__text">Facebook</span></a></li>
          <li class="mo-footer__some__li"><a href="https://twitter.com/mondayfi" class="mo-footer__some__item mo-footer__some__item--border" target="_blank"><i class="mo-icon mo-icon--twitter"></i><span class="mo-footer__some__text">LinkedIn</span></a></li>
          <li class="mo-footer__some__li"><a href="https://www.linkedin.com/company/monday-digital-oy" class="mo-footer__some__item" target="_blank"><i class="mo-icon mo-icon--linkedin"></i><span class="mo-footer__some__text">Twitter</span></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="mo-colorwrap mo-colorwrap--white mo-colorwrap--smallpadding">
  <div class="mo-grid">
  <p class="mo-textaligncenter">Made with <i class="mo-icon mo-icon--heart mo_heartred"></i> in Helsinki.</p>
  </div>
</div>
  {{/content}}
{{/extend}}