{{#extend "default"}}
  {{#content "content"}}
  <div class="mo-hero mo-hero--narrow">
  <div class="mo-hero__slide">
    <div class="mo-hero__content mo-grid">
      <a href="/"><img src="images/monday_logo.svg" class="mo-hero__logo"></a>
    </div>
  </div>
</div>
<div class="mo-colorwrap mo-colorwrap--white mo-colorwrap--white--border">
  <div class="mo-grid">
    <div class="mo-stand-alone">
      <div class="mo-authorimage mo-authorimage--stand-alone">
        <img class="mo-authorimage__image" src="images/samuel.jpg" alt="Samuel Klinkmann">
      </div>
      <a href="tel:+358404869209" class="mo_linkicon  mo_linkicon--black"><i class="mo-icon mo-icon--phone"></i><span class="mo_linkicon__link">040 486 92 09</span></a><br />
      <a href="mailto:samuel@monday.fi" class="mo_linkicon  mo_linkicon--black"><i class="mo-icon mo-icon--envelope"></i><span class="mo_linkicon__link">samuel@monday.fi</span></a><br />
      <a href="https://fi.linkedin.com/in/samuelklinkmann" class="mo_linkicon  mo_linkicon--black"><i class="mo-icon mo-icon--linkedin"></i><span class="mo_linkicon__link">LinkedIn</span></a>
    </div>
    <h2 class="mo-stand-alone__title">Samuel Klinkmann</h2>
    <h3 class="mo-stand-alone__sub-title">UX Developer</h3>
 <p>I'm a Helsinki based creative with a strong tech knowledge.</p>

<p>My main focus is to build razor sharp interfaces for the digital age. I love working with creative people and learning from each respective fields. When creating experiences I aim for everything to make perfect sense.</p>

<p>If you'd like to learn more about me, head over to:</p>

<ul class="mo-inline-list">
  <li class="mo-inline-list__item"><a href="https://medium.com/@samuelklinkmann/" class="mo_linkicon mo_linkicon--black"><i class="mo-icon mo-icon--medium"></i><span class="mo_linkicon__link">Medium</span></a></li>
  <li class="mo-inline-list__item"><a href="https://twitter.com/samuelklinkmann" class="mo_linkicon mo_linkicon--black"><i class="mo-icon mo-icon--twitter"></i><span class="mo_linkicon__link">Twitter</span></a></li>
  <li class="mo-inline-list__item"><a href="http://open.spotify.com/user/klinkmann" class="mo_linkicon mo_linkicon--black"><i class="mo-icon mo-icon--spotify"></i><span class="mo_linkicon__link">Spotify</span></a></li>
</ul>
  </div>
</div>
  </div>
</div>

<div class="mo-colorwrap mo-colorwrap--purple mo-colorwrap--largepadding">
  <div class="mo-grid">

  <p class="mo-textitalic">"Samuel can best be described as the glue between designers and developers. Samuel is a great asset when you need responsive interfaces for demanding projects. I can warmly recommend him."<br /></p>

  <div class="mo-authorimage mo-authorimage--small"><img class="mo-authorimage__image" src="./images/jouni.jpg" alt="Jouni Linkola"></div><p>- Jouni Linkola, Service Design lead at <a href="http://elisa.fi" target="_blank" class="mo_linkicon__link">Elisa Oy</a></p>
  </div>
</div>

<div class="mo-colorwrap mo-colorwrap--athensgrey mo-colorwrap--largepadding">
  <div class="mo-grid">
  <p class="mo-textitalic">"Samuel did a short project for Veikkaus. He helped us to improve the usability of the Veikkaus.fi mobile page. Samuel is a very competent UX developer and a good team player"<br /></p>
  <div class="mo-authorimage mo-authorimage--small"><img class="mo-authorimage__image" src="./images/melina.jpg" alt="Melina Kukkasela"></div>
  <p>- Melina Kukkasela, UX Lead at <a href="http://veikkaus.fi" target="_blank" class="mo_linkicon__link">Veikkaus Oy</a></p>
  </div>
</div>

<div class="mo-colorwrap mo-colorwrap--white mo-colorwrap--white--border mo-colorwrap--nopadding ">
  <div class="mo-grid">
    <div class="mo-footer">
      <div class="mo-footer__some">
        <ul class="mo-footer__some__ul">
          <li class="mo-footer__some__li"><a href="https://www.facebook.com/mondaydigital" class="mo-footer__some__item mo-footer__some__item--border"  target="_blank"><i class="mo-icon mo-icon--facebook"></i><span class="mo-footer__some__text">Facebook</span></a></li>
          <li class="mo-footer__some__li"><a href="https://twitter.com/mondayfi" class="mo-footer__some__item mo-footer__some__item--border" target="_blank"><i class="mo-icon mo-icon--twitter"></i><span class="mo-footer__some__text">LinkedIn</span></a></li>
          <li class="mo-footer__some__li"><a href="https://www.linkedin.com/company/monday-digital-oy" class="mo-footer__some__item" target="_blank"><i class="mo-icon mo-icon--linkedin"></i><span class="mo-footer__some__text">Twitter</span></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="mo-colorwrap mo-colorwrap--white mo-colorwrap--smallpadding">
  <div class="mo-grid">
  <p class="mo-textaligncenter">Made with <i class="mo-icon mo-icon--heart mo_heartred"></i> in Helsinki.</p>
  </div>
</div>
  {{/content}}
{{/extend}}