<div class="mo-footer">
  <h3>Contact us</h3>
  <a href="#" class="mo-link-icon"><span class="mo-icon mo-icon--spotify">info@evalingon.com</a>
  <a href="#" class="mo-link-icon"><span class="mo-icon mo-icon--phone">+358 50 581 9461</a>
  
</div>