<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>Monday</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="//use.typekit.net/fow1tld.js"></script>
<script>try{Typekit.load();}catch(e){}</script>
<link rel="stylesheet" href="css/vendor.css">
<link rel="stylesheet" href="css/main.css">
<link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32" />
<link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16" />
<meta property="og:type" content="website"/>
<meta property="og:title" content="Weeks have never started this well"/>
<meta property="twitter:title" content="Weeks have never started this well" />
<meta name="description" content="We make razor sharp services that match the demand of today's users." />
<meta property="og:description" content="We make razor sharp services that match the demand of today's users." />
<meta property="twitter:description" content="We make razor sharp services that match the demand of today's users." />
<meta property="og:site_name" content="Monday.fi" />
<meta name="twitter:site" content="Monday.fi" />
<meta property="og:image" content="http://monday.fi/images/fb-monday.jpg" />
<meta property="twitter:image" content="http://monday.fi/images/fb-monday.jpg" />