<div class="mo-hero">
  <div class="mo-hero__slide">
    <img src="/images/hero-mobile.jpg" class="mo-hero__image mo-hero__image--small" alt="">
    <img src="/images/hero-desktop.jpg" class="mo-hero__image mo-hero__image--large" alt="">
  </div>
  
  <nav class="mo-hero-nav">
    <ul class="mo-hero-nav__ul">
      <li class="mo-hero-nav__li">
        <a href="/about-us" class="mo-hero-nav__link mo-hero-nav__link--active">About us</a>
      </li>
      <li class="mo-hero-nav__li">
        <a href="/work" class="mo-hero-nav__link">Work</a>
      </li>
      <li class="mo-hero-nav__li">
        <a href="/blog" class="mo-hero-nav__link">Blog</a>
      </li>
      <li class="mo-hero-nav__li">
        <a href="/podcast" class="mo-hero-nav__link">Podcast</a>
      </li>
      <li class="mo-hero-nav__li">
        <a href="/newsletter" class="mo-hero-nav__link">Newsletter</a>
      </li>
    </ul>
  <nav>
</div>