<div class="mo-hero">
  <div class="mo-hero__slide">
    <img src="./images/hero-mobile.jpg" class="mo-hero__image mo-hero__image--small" alt="">
    <img src="./images/hero-desktop.jpg" class="mo-hero__image mo-hero__image--large" alt="">
  </div>
</div>
