<div class="mo-nav mo-nav--standalone">
  <nav class="mo-nav__navigation">
    <a href="/" class="mo-nav__logo">
      <img src="./images/evalingon-logo.png" alt="Logo">
    </a>
    <div class="mo-nav__overlay"></div>
    <a href="#" class="mo-nav-opener"><span>Menu</span>
      <i class="mo-nav-opener__icon mo-icon mo-icon--hamburger"></i>
      <i class="mo-nav-opener__icon mo-icon mo-icon--close"></i>
    </a>
    <div class="mo-nav-wrapper">
      <ul class="mo-nav__list mo-nav__list--primary">
        <li class="mo-nav__item mo-nav__item--about-us">
          <a class="mo-nav__item-link mo-nav__item-link--active" href="/about.html">About Us</a>
        </li>
      <li class="mo-nav__item mo-nav__item--work">
        <a class="mo-nav__item-link" href="/work/">Work</a>
      </li>
      <li class="mo-nav__item mo-nav__item--blog">
        <a class="mo-nav__item-link" href="/blog/">Blog</a>
      </li>
      <li class="mo-nav__item mo-nav__item--podcast">
        <a class="mo-nav__item-link" href="/podcast/">Podcast</a>
      </li>
      <li class="mo-nav__item mo-nav__item--newsletter">
        <a class="mo-nav__item-link" href="/cases/">Newsletter</a>
      </li>
      </ul>
    </div>
  </nav>
</div>