body {
  @include font-body;
  font-size: 14px;
  line-height: 1.5em;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}

h1,
%mo-h1 {
  @include font-title;
  letter-spacing: -1px;
  font-size: 45px;
  line-height: 1.125em;
  font-weight: 200;
  margin: 0;

  @include breakpoint(laptop-and-up) {
    font-size: 64px;
  }
}

h2,
%mo-h2,
.mo-h2 {
  @include font-title;
  font-size: 20px;
  line-height: 1.125em;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0;

  @include breakpoint(tablet-and-up) {
    font-size: 30px;
  }
}

h3,
%mo-h3,
.mo-h3 {
  @include font-body;
  font-size: 18px;
  line-height: 1.5em;
  font-weight: 200;
  margin: 0;
  letter-spacing: 0;
  
  @include breakpoint(tablet-and-up) {
    font-size: 24px;
  }
}

p {
  margin: 10px 0;
  font-size: 14px;
  
  @include breakpoint(tablet-and-up) {
    font-size: 16px;
    line-height: 1.5em;
  }
}

strong {
  font-weight: 600;
}

a {
  text-decoration: none;
  color: inherit;
}

.mo-smalltext {
  font-size: 12px;
  
  @include breakpoint(tablet-and-up) {
    font-size: 14px;
  }
}