$color-white: #fff;
$color-burnt-sienna: #ed5751;
$color-blue-zodiac: #0c2042;
$color-barley-white: #fff1d0;

$breakpoint-phone-max-width: 479px;

$breakpoint-phone-large-min-width: 480px;
$breakpoint-phone-large-max-width: 639px;
$content-size-phone-large: 440px;

$breakpoint-tablet-min-width: 640px;
$breakpoint-tablet-max-width: 959px;
$content-size-tablet: 604px;

$breakpoint-laptop-min-width: 960px;
$breakpoint-laptop-max-width: 1279px;
$content-size-laptop: 604px;

$breakpoint-desktop-min-width: 1280px;
$content-size-desktop: 604px;

$global-column-cap: 20px;
$global-spacing-mobile: 1.6rem;
$global-spacing-desktop: 1.6rem;

$button-radius: 15px;