@import "_variables.css";
@import "grid.css";

body {
  background: $color-gray;
  font-family: 'Open Sans', sans-serif;
  color: $color-white;
}

.content {
  position: relative;
  margin: 0 auto;

  @media only screen and (max-width: $breakpoint-phone-max-width) {
    margin: 0 20px;
  }

 @media only screen and (min-width: $breakpoint-phone-large-min-width) and (max-width: $breakpoint-phone-large-max-width) {
    max-width: $content-size-phone-large;
  }

  @media only screen and (min-width: $breakpoint-tablet-min-width) and (max-width: $breakpoint-tablet-max-width) {
    max-width: $content-size-tablet;
  }

  @media only screen and (min-width: $breakpoint-laptop-min-width) and (max-width: $breakpoint-laptop-max-width) {
    max-width: $content-size-laptop;
  }

  @media only screen and (min-width: $breakpoint-desktop-min-width) {
    max-width: $content-size-desktop;
  }
}
.textaligncenter {
  text-align: left;
}
.mainlogo {
  width: 250px;
  text-align: center;
  display: block;
  margin-top: 200px;
  margin-bottom: 2em;
}

.col {
  text-align: left;
  display: block;
  margin-bottom: 2em;
}