body {
  background: $color-white;
  color: $color-black;
}

.mo_heartred {
  color: $color-purple;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

canvas {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-filter: url('#ameba');
  -moz-filter: url('#ameba');
  -ms-filter: url('#ameba');
  filter: url('#ameba');
}