.body-sxsw {
    background: $color-purple;
}

.sxsw {
    &__image {
        width: 100%;
        margin-bottom: 30px;
    }

}

.counter{
    @include font-title;
    @extend %mo-h3;
  font-weight: 600;
    color: #fff;
    display: inline-block;
    text-align: left;

    > div{
        padding: 10px;
        margin-bottom: 5px;
        border-radius: 3px;
        background: $color-darkendpurple;
        display: inline-block;
        width: 100%;
        margin-right: 0;
         @include breakpoint(phone-large) {
            margin-right: 2%;
            width: 48%;
        }
         @include breakpoint(tablet-and-up) {
            margin-right: 2%;
            width: 48%;
         }

        > span {
            padding: 15px;
            border-radius: 3px;
            background: $color-white;
            color: black;
            display: inline-block;
        }
        > div {
            display: inline-block;
             padding: 10px;
        }
    }
}