@charset "UTF-8";
/* Global */
.mo-grid:after, .mo-hero:after, .mo-hero__slide:after, .mo-nav__navigation:after, .mo-footer:after, .mo-fluid-block-wrapper:after, .mo-fluid-block:after, .mo-citation__person:after {
  content: "";
  display: table;
  clear: both; }

@font-face {
  font-family: "jalo-icons";
  src: url("../fonts/jalo-icons.eot");
  src: url("../fonts/jalo-icons.eot?#iefix") format("eot"), url("../fonts/jalo-icons.woff") format("woff"), url("../fonts/jalo-icons.ttf") format("truetype"), url("../fonts/jalo-icons.svg#jalo-icons") format("svg"); }

.mo-icon,
.mo-icon--arrow-left:before,
.mo-icon--arrow-right:before,
.mo-icon--close:before,
.mo-icon--envelope:before,
.mo-icon--facebook:before,
.mo-icon--hamburger:before,
.mo-icon--heart:before,
.mo-icon--instagram:before,
.mo-icon--linkedin:before,
.mo-icon--medium:before,
.mo-icon--phone:before,
.mo-icon--spotify:before,
.mo-icon--twitter:before,
.mo-icon--youtube:before {
  font-size: 16px;
  font-family: "jalo-icons";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-decoration: none;
  text-transform: none;
  transform: translate(0, 0);
  display: inline-block;
  vertical-align: middle; }

.mo-icon--arrow-left:before {
  content: ""; }

.mo-icon--arrow-right:before {
  content: ""; }

.mo-icon--close:before {
  content: ""; }

.mo-icon--envelope:before {
  content: ""; }

.mo-icon--facebook:before {
  content: ""; }

.mo-icon--hamburger:before {
  content: ""; }

.mo-icon--heart:before {
  content: ""; }

.mo-icon--instagram:before {
  content: ""; }

.mo-icon--linkedin:before {
  content: ""; }

.mo-icon--medium:before {
  content: ""; }

.mo-icon--phone:before {
  content: ""; }

.mo-icon--spotify:before {
  content: ""; }

.mo-icon--twitter:before {
  content: ""; }

.mo-icon--youtube:before {
  content: ""; }

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  line-height: 1.5em;
  font-weight: 300;
  -webkit-font-smoothing: antialiased; }

h1 {
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing: -1px;
  font-size: 48px;
  line-height: 1.125em;
  font-weight: 200;
  margin: 0; }
  @media only screen and (min-width: 640px) {
    h1 {
      font-size: 64px; } }

h2,
.mo-h2 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
  line-height: 1.125em;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0; }
  @media only screen and (min-width: 640px) {
    h2,
    .mo-h2 {
      font-size: 30px; } }

h3,
.mo-citation__bubble-content,
.mo-h3 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  line-height: 1.5em;
  font-weight: 200;
  margin: 0;
  letter-spacing: 0; }
  @media only screen and (min-width: 640px) {
    h3,
    .mo-citation__bubble-content,
    .mo-h3 {
      font-size: 24px; } }

p {
  margin: 10px 0;
  font-size: 14px; }
  @media only screen and (min-width: 640px) {
    p {
      font-size: 16px;
      line-height: 1.5em; } }

strong {
  font-weight: 600; }

a {
  text-decoration: none;
  color: inherit; }

.mo-smalltext, .mo-nav .menu-item a, .mo-button {
  font-size: 12px; }
  @media only screen and (min-width: 640px) {
    .mo-smalltext, .mo-nav .menu-item a, .mo-button {
      font-size: 14px; } }

body {
  background: #fff1d0;
  color: #0c2042; }

* {
  box-sizing: border-box; }

.mo-grid {
  position: relative;
  margin: 0 auto; }
  @media only screen and (max-width: 479px) {
    .mo-grid {
      margin: 0 20px; } }
  @media only screen and (min-width: 480px) and (max-width: 639px) {
    .mo-grid {
      max-width: 440px; } }
  @media only screen and (min-width: 640px) and (max-width: 959px) {
    .mo-grid {
      max-width: 604px; } }
  @media only screen and (min-width: 960px) and (max-width: 1279px) {
    .mo-grid {
      max-width: 904px; } }
  @media only screen and (min-width: 1280px) {
    .mo-grid {
      max-width: 1204px; } }
  @media only screen and (min-width: 960px) and (max-width: 1279px) {
    .mo-grid--content {
      max-width: 604px; } }
  @media only screen and (min-width: 1280px) {
    .mo-grid--content {
      max-width: 904px; } }

.mo-textaligncenter {
  text-align: center; }

.mo-textalignright {
  text-align: right; }

.mo-textitalic {
  font-style: italic; }

.title-margin {
  margin-bottom: 20px; }

/* Modules */
.mo-hero {
  width: 100%;
  margin: auto;
  position: relative;
  display: block;
  height: 320px;
  background: #0c2042;
  overflow: hidden; }
  @media only screen and (min-width: 480px) {
    .mo-hero {
      height: 400px; } }
  @media only screen and (min-width: 640px) {
    .mo-hero {
      height: 410px;
      padding-bottom: 50.7%; } }
  @media only screen and (min-width: 960px) {
    .mo-hero {
      height: auto; } }
  .mo-hero__slide {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; }
  .mo-hero__image {
    position: absolute;
    left: 49.99%;
    top: 50%;
    height: 100%;
    width: auto;
    transform: translate(-50%, -50%);
    min-height: 340px; }
    @media only screen and (min-width: 480px) {
      .mo-hero__image {
        min-height: 445px; } }
    @media only screen and (min-width: 640px) {
      .mo-hero__image {
        min-height: 400px; } }
    @media only screen and (min-width: 960px) {
      .mo-hero__image {
        min-height: 400px; } }
    @media only screen and (min-width: 640px) {
      .mo-hero__image--small {
        display: none; } }
    .mo-hero__image--large {
      display: none; }
      @media only screen and (min-width: 640px) {
        .mo-hero__image--large {
          display: block; } }

.mo-nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2; }
  .mo-nav--standalone {
    position: relative;
    top: auto;
    left: auto;
    height: 80px; }
  .mo-nav__logo {
    float: left;
    margin: 10px 0 0 20px;
    display: none; }
    .menu-active .mo-nav__logo {
      position: absolute;
      z-index: 3;
      display: block; }
    .mo-nav--standalone .mo-nav__logo {
      display: block; }
    @media only screen and (min-width: 640px) {
      .mo-nav--standalone .mo-nav__logo {
        display: block; } }
  .mo-nav__navigation {
    width: 100%; }
    @media only screen and (min-width: 960px) {
      .mo-nav__navigation {
        margin: 0 auto;
        display: block;
        max-width: 904px; } }
    @media only screen and (min-width: 1280px) {
      .mo-nav__navigation {
        max-width: 1204px; } }
  @media only screen and (max-width: 639px) {
    .mo-nav__overlay {
      background: #f5f5f5;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: -1000px;
      display: none; }
      .menu-active .mo-nav__overlay {
        display: block; } }
  @media only screen and (max-width: 639px) {
    .menu-active .mo-nav-wrapper {
      display: block;
      position: fixed;
      left: 0;
      top: 60px;
      right: 0;
      bottom: 0;
      margin-right: 0; } }
  .mo-nav__list {
    list-style: none;
    display: none;
    margin: 30px 0;
    padding: 0 20px; }
    .menu-active .mo-nav__list {
      display: block; }
    @media only screen and (min-width: 640px) {
      .mo-nav__list {
        display: block;
        margin-bottom: 0;
        float: right;
        margin-top: 18px; } }
  .mo-nav .menu-item {
    display: block;
    margin: 0;
    height: 3.5em;
    text-align: center; }
    @media only screen and (min-width: 640px) {
      .mo-nav .menu-item {
        padding: 5px 5px;
        border-radius: 15px;
        text-transform: uppercase;
        margin-left: 5px;
        display: inline-block;
        display: block;
        float: left;
        margin-left: -10px; } }
    @media only screen and (min-width: 960px) {
      .mo-nav .menu-item {
        padding-left: 15px;
        padding-right: 15px; } }
    .mo-nav .menu-item--active {
      background: #0c2042;
      color: #fff1d0; }
    .mo-nav .menu-item a {
      color: #282828;
      padding: 0;
      font-size: 1.75em;
      display: block;
      font-size: 16px;
      padding: 20px 0; }
      @media only screen and (min-width: 640px) {
        .mo-nav .menu-item a {
          padding: 5px 15px;
          border-radius: 15px;
          text-transform: uppercase;
          margin-left: 2px; } }
      .mo-nav .menu-item a:hover {
        background: #ed5751;
        color: #fff1d0; }
  .mo-nav .current-menu-item a {
    background: #0c2042;
    color: #fff; }

.mo-nav-opener {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  width: 40px;
  height: 60px;
  right: 15px;
  top: 2px;
  overflow: hidden;
  display: block;
  color: #0c2042;
  font-size: 30px;
  position: absolute; }
  .mo-nav-opener .mo-icon--close {
    display: none; }
  .menu-active .mo-nav-opener {
    position: fixed; }
    .menu-active .mo-nav-opener .mo-icon--close {
      display: block; }
    .menu-active .mo-nav-opener .mo-icon--hamburger {
      display: none; }
  .mo-nav-opener__icon {
    font-size: 30px;
    line-height: 0; }
    .mo-nav-opener__icon:before {
      line-height: 0;
      font-size: 25px; }
  .mo-nav-opener span {
    text-indent: -9999px;
    display: block; }
  @media only screen and (min-width: 640px) {
    .mo-nav-opener {
      display: none; } }

.mo-footer {
  text-align: center;
  padding: 5em 0 0; }
  .mo-footer h2 {
    margin-bottom: 20px; }
  .mo-footer__contact {
    display: block;
    margin-bottom: 10px; }
    .mo-footer__contact span:before {
      margin-right: 10px; }
  .mo-footer__forest {
    background: url("../images/footer-forest.png");
    background-repeat: repeat-x;
    background-position: center bottom;
    width: 100%;
    height: 400px;
    background-size: 2020px;
    position: relative; }
  .mo-footer__forest-content {
    background: #0c2042;
    color: #fff;
    width: 100%;
    height: 220px; }
  .mo-footer__logo, .mo-footer__contact-info, .mo-footer-some {
    display: inline-block;
    vertical-align: middle; }
  .mo-footer__logo {
    margin-right: 30px; }
  .mo-footer__contact-info {
    margin-right: 30px; }
    .mo-footer__contact-info a {
      display: block; }
  .mo-footer-some-icons {
    clear: both;
    display: block;
    margin-top: 50px; }
    @media only screen and (min-width: 640px) {
      .mo-footer-some-icons {
        clear: none;
        display: inline-block;
        margin: auto; } }
  .mo-footer-some .mo-icon {
    margin-right: 30px; }
    .mo-footer-some .mo-icon:before {
      font-size: 20px; }

.mo-colorwrapper {
  position: relative;
  padding: 6em 0; }
  @media only screen and (min-width: 960px) {
    .mo-colorwrapper {
      padding: 8em 0; } }
  .mo-colorwrapper--small-padding {
    padding: 3em; }
    @media only screen and (min-width: 960px) {
      .mo-colorwrapper--small-padding {
        padding: 4em; } }
  .mo-colorwrapper--blue-zodiac {
    background: #0c2042;
    color: #fff1d0; }
  .mo-colorwrapper--burnt-sienna {
    background: #ed5751;
    color: #fff1d0; }
  .mo-colorwrapper--barley-white {
    background: #fff1d0; }

.mo-button {
  padding: 8px 16px;
  display: inline-block;
  border-radius: 15px;
  text-transform: uppercase;
  text-decoration: none;
  transition: all .15s ease-in;
  position: relative;
  background: #ed5751;
  overflow: hidden;
  color: #fff1d0;
  font-weight: 700; }
  .mo-button:hover {
    background: #f2847f; }
  .mo-button--blue-zodiac {
    background: #0c2042; }
    .mo-button--blue-zodiac:hover {
      background: #14356d; }

.mo-logo-wall {
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0; }
  .mo-logo-wall__item {
    display: inline-block; }
  .mo-logo-wall__logo {
    max-width: 100px;
    vertical-align: middle;
    margin: 0 10px; }

.mo-fluid-block {
  display: block;
  width: 100%;
  height: auto;
  padding-bottom: 0%;
  position: relative;
  background: #ed5751;
  color: #fff; }
  @media only screen and (min-width: 640px) {
    .mo-fluid-block--odd {
      background: #fff1d0;
      color: #0c2042; } }
  .mo-fluid-block__image {
    width: 100%; }
    .mo-fluid-block__image img {
      width: 100%;
      display: block; }
    @media only screen and (min-width: 640px) {
      .mo-fluid-block__image {
        width: 60%;
        float: left; }
        .mo-fluid-block__image--full {
          width: 100%;
          float: none; } }
  .mo-fluid-block__content {
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center; }
    @media only screen and (min-width: 640px) {
      .mo-fluid-block__content {
        top: 100px;
        width: 40%;
        padding: 20px;
        height: 100%;
        float: left;
        position: relative;
        top: inherit;
        left: inherit;
        right: inherit;
        padding: 30px 20px; } }
  @media only screen and (min-width: 640px) and (min-width: 960px) {
    .mo-fluid-block__content {
      padding-top: 60px; } }

.mo-citation {
  position: relative;
  color: #0c2042; }
  .mo-citation__bubble {
    border-radius: 150px;
    width: 100%;
    background: #fff;
    padding: 60px;
    position: relative;
    z-index: 1;
    margin-bottom: 30px; }
    .mo-citation__bubble:before {
      z-index: 2;
      position: absolute;
      top: 98.1%;
      left: 70%;
      margin-left: -25%;
      content: '';
      width: 0;
      height: 0;
      border-top: solid 20px #fff;
      border-left: solid 20px transparent;
      border-right: solid 20px transparent; }
  .mo-citation__bubble-inner {
    position: relative;
    padding-top: 1px; }
  .mo-citation__bubble-quote {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 100px;
    font-weight: bold; }
  .mo-citation__bubble-content {
    position: relative;
    margin-top: 20px;
    font-weight: bold;
    font-style: italic; }
  .mo-citation__person {
    color: #0c2042; }
  .mo-citation__person-image {
    float: left;
    width: 50%; }
    .mo-citation__person-image img {
      float: right;
      margin-right: 20px; }
  .mo-citation__person-content {
    float: left;
    width: 50%;
    margin-top: 30px; }
